body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #0f0;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative; /* Adicionado para ajustar o formulário */
}

h1 {
    color: #0f0;
    font-size: 36px;
    margin-top: 50px;
}

#time {
    font-size: 48px;
    margin-top: 20px;
    color: #0f0;
}

.phrase {
    font-size: 24px;
    margin-top: 20px;
    color: #0f0;
}

@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Nova imagem de fundo */
    background-image: url('https://i.pinimg.com/originals/48/2d/6c/482d6c3087263e0d9a74cf8455b312d1.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
    animation: flicker 3s infinite;
}

/* Estilo para o formulário */
form {
    display: inline-block; /* Ajusta o formulário para ficar alinhado */
    background-color: rgba(0, 0, 0, 0.5); /* Adiciona um fundo transparente */
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px; /* Ajusta a margem superior */
        }
